.logo{
    height: 55px;
}
.sc_logo{
    height: 30px;
}

.globle_logo{
    height: 20px;
}
.ideas_logo{
    height: 50px;
}

.intro{
    font-size: 18px;
}
 .footer .footer-heading:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 40px;
      height: 4px;
      background: #d71a21; }

      .intro {
        background: #ffffffc3;
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 3em 3em 3em 3em;
       
        }
        .intro .intro-heading {
          font-size: 22px;
          margin-bottom: 30px;
          font-weight: 700;
          color: #000000;
          position: relative; }
          .intro .intro-heading:after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: '';
            width: 40px;
            height: 4px;
            background: #d71a21; }



.cx-4 {
    padding-right: 0 !important;
    padding-left: 0 !important; }


p {
    font-style: italic !important;
    font-weight: 400;
    color: black;
   
}
.fa-users-cog:before{
    content: "\f236";  
}

